include/.tmpobject
include/.err
include/network/.err
include/network/.tmpobject
.tmpobject
build/
a.out
compile_commands.json
client
OLDMESSSERVER
CMakeFiles/
CMakeTests.txt
temp.txt
.err
.clangd
.cache/
